#
# Defines environment variables.
#
# Authors:
#   Sorin Ionescu <sorin.ionescu@gmail.com>
#   {{ .name }} <{{ .email }}>
#

# Ensure we have the basic path setup
{{ if eq .chezmoi.os "darwin" -}}
export PATH='/usr/local/bin:/usr/local/sbin:/usr/bin:/bin:/usr/sbin:/sbin:'

{{ else if eq .chezmoi.os "linux" -}}
export PATH="/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:$HOME/bin:/usr/games:/usr/local/games:/snap/bin:."

{{ else if eq .chezmoi.os "freebsd" -}}
export PATH="$HOME/bin:/bin:/sbin:/usr/bin:/usr/sbin:/usr/X11R6/bin:/usr/local/bin:/usr/local/sbin:/usr/games:."

{{ end -}}

{{ if .is_work_machine }}
# Work proxy information
if [ "$(whoami)" = "{{ .chezmoi.username }}" ]; then
  export http_proxy="http://vzproxy.verizon.com:80/"
  export https_proxy="${http_proxy}"
  export HTTP_PROXY="${http_proxy}"
  export HTTPS_PROXY="${http_proxy}"
fi

{{ end -}}

# Ensure that a non-login, non-interactive shell has a defined environment.
if [[ "${SHLVL}" -eq 1 && ! -o LOGIN && -s "${ZDOTDIR:-HOME}/.zprofile" ]]; then
  source "${ZDOTDIR:-$HOME}/.zprofile"
fi

# Terminal Configuration
export VISUAL="nvim"
export EDITOR="${VISUAL}"
{{ if eq .chezmoi.os "darwin" -}}
export HOMEBREW_NO_ANALYTICS=1
export HOMEBREW_INSTALL_CLEANUP=1

{{ end -}}

# Golang Configuration
export GOPATH="${HOME}/git/go"
export PATH="${PATH}:${GOPATH}/bin" # Add Golang binaries to the path

# Ruby Configuration
export PATH="${HOME}/.rbenv/bin:${PATH}"

# Rust Configuration
export PATH="${PATH}:${HOME}/.cargo/bin"

# Python Configuration
export PYTHONASYNCIODEBUG="1"

# Vagrant Configuration
export VAGRANT_DEFAULT_PROVIDER="vmware_fusion"

# Google Chrome Configuration
export SSLKEYLOGFILE="${HOME}/sslStripping.log"

# GPG
export GPG_TTY=$(tty)

# Rust Configuration
export RUST_BACKTRACE=1
